body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}



footer {
    background-color: black;
    padding: 20px;

}

.donate-input {
    font-size: 20px;
    margin-top: 10%;
    padding: 10px 80px;
    border: 0;
    border-bottom: 1px solid;
    margin-bottom: 40px;
}

.banner {
    width: 100%;
    padding: 150px 0;
    color: white;
    background-image: linear-gradient(to bottom left, rgba(228, 221, 221, 0.50) 10%, rgba(0, 0, 0, 0.80) 60%),
        url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.text-align-center {
    text-align: center;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 45%;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.button-position {
    position: absolute;
    left: 15%;
    padding-bottom: 50px;
}

.donate-button {
    padding: 30px 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: gray;
    border: none;
}

.donate-section {
    padding-top: 80px;
}

.donate-plane {
    padding: 30px 80px;
    margin: 50px;
}

.pic-width {
    padding: 10px 40px;
}

.pic-width img {
    width: 50%;
}

.info-button {
    background: none;
    font-size: 20px;
}

.event-list {
    background-color: aqua;
}

.footer-head {
    color: brown;
    font-family: 'Caveat', cursive;
}

.footer-paragraf {
    color: aliceblue;
}

.subscribe-input {
    margin-left: 100%;
    width: 50%;
    padding: 10% 50%;
    border: none;
    background-color: lightslategrey;
}


#link-update {
    padding: 12% 90%;
    margin-left: 300%;
    width: 50%;
    border: none;
    border-radius: none;
}



#button-color {
    background-color: aquamarine;
    border: 3px solid green;

}

#update-background {
    background-color: burlywood;
    padding: 40px 60px;
    margin: 30px 150px;
}

#plane-1 {
    background-color: rgb(12, 214, 214);
}

#plane-2 {
    background-color: burlywood;
}

#plane-3 {
    background-color: rgb(185, 185, 37);
}